<!DOCTYPE html>
<html lang="en">
    <%- include('./included/head.ejs', { title: 'Login' }) %>
<body class="body">
    <div class="wrapper">
        <main class="main">
            <div class="main_container">
                <div class="main_start">
                    <div class="main_start_form">
                        <img width="150" src="/img/output-onlinepngtools.png"/>
                        <form action="/new-password" method="POST">
                            <div class="main_start_form_item">
                                <label for="password">New password</label>
                                <input type="password" name="password" class="validate" placeholder="Enter password" id="loginPassword" required>
                            </div>
                            <div class="main_start_form_item">
                                <label for="passwordConfirmation">Confirm new password</label>
                                <input oninput="checkPasswordStrength(this.value)" type="password" name="passwordConfirmation" class="validate" placeholder="Enter password" id="loginPassword" required>
                            </div>
                            <div class="main_start_form_row">
                                <h5 id="invalidPassword">Please enter a valid password</h5>
                                <h5 id="strength-title"></h5><h5 id="password-strength-meter"></h5>
                            </div>
                            <button class="main_start_form_button" type="submit" name="action">
                                Set password
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>