<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        MySQL Made Simple - <%= title %>
    </title>
    <link rel="stylesheet" href="/css/styles.css"></link>
    <link rel="shortcut icon" href="/img/output-onlinepngtools.png" type="image/x-icon">
    <script src="/js/script.js" defer></script>
    <script src="https://kit.fontawesome.com/73e7bee19a.js" crossorigin="anonymous"></script>
</head>