<header class="header">
    <div class="header_container">
      <div class="header_line">
        <div class="header_line_logo">
          <img class="logo" src="/img/output-onlinepngtools.png"/>
          <div class="logo_text">
            <h1 id="blueLogo">My</h1><h1 id="orangeLogo">SQL</h1><h1> MS</h1>
          </div>
        </div>
        <ul class="header_line_list">
          <li class="header_line_list_item">
            <a class="link" href="/home">Home</a>
          </li>
          <li class="header_line_list_item">
            <a class="link" href="/mysql-tutorial">SQL tutorial</a>
          </li>
          <li class="header_line_list_item">
            <a class="link" href="/mysql-editor">SQL editor</a>
          </li>
          <li class="header_line_list_item">
            <a class="link" href="">Browse</a>
          </li>
        </ul>
        <ul class="burger_list">
          <li class="list_item">
            <a class="item_link" href="/home">Home</a>
          </li>
          <li class="list_item">
            <a class="item_link" href="/mysql-tutorial">SQL tutorial</a>
          </li>
          <li class="list_item">
            <a class="item_link" href="/mysql-editor">SQL editor</a>
          </li>
          <li class="list_item">
            <a class="item_link" href="">Browse</a>
          </li>
        </ul>
        <button class="nav-toggle">
          <span class="hamburger"></span>
        </button>
      </div>
    </div>
</header>